<div *ngIf="content.length!=0" class="py-2 overflow-y-scroll overflow-x-hidden"
    style="border: 1px solid var(--primary-color-3); max-height: 400px;">
    <div *ngFor="let item of content" class="d-flex justify-content-between align-items-center wrapper">
        <div (click)="activate(item)" style="cursor: pointer;">
            <i *ngIf="!item.children && type=='project' && !item.nameFolder" class="fa-solid fa-code fs-3 fs-lg-4 me-4"
                style="color: var(--primary-color-2); "></i>
            <i *ngIf="!item.children && type=='snippet' && !item.nameFolder"
                class="fa-solid fa-circle-nodes fs-3 fs-lg-4 me-4" style="color: var(--primary-color-2); "></i>

            <i *ngIf="item.nameFolder" class="fa-regular fa-folder fs-2 fs-lg-3 me-4"
                style="color: var(--primary-color-2); "></i>
            <span class="fs-4 fs-lg-5">{{ item.nameSnippet || item.nameFolder || item.nameProject
                }}</span>
            <!-- Aquí utilizamos item.nameSnippet si es un Snippet o item.nameFolder si es una carpeta -->
        </div>


        <div *ngIf="!item.nameFolder">
            
            <a (click)="goToEditor(item)" *ngIf="!item.nameFolder" style="cursor: pointer;">
                <i class="fa-solid fa-arrow-up-right-from-square fs-3 fs-lg-4" style="color: var(--primary-color-2);">
                </i>
            </a>
        </div>
    </div>
</div>