#web-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color-1);
}
#barra{
    display: flex;
    align-content: space-around;
}

#planess{
 /* margin-left: 500px;    */
 /* position: absolute; */

}



#textonav{
    color: #6A4BFF;
    

}