<div class="container-fluid p-0" style="height: 100vh;">
    <app-navbar></app-navbar>
    <h1 id="titulopage"> Planes & Precios </h1>
    <div class="row " id="cotn" style="min-height: 100%;">
        <div class="col-lg-4 ">
            <div id="plan-basico">
                <div id="titulobasico">
                    <br />
                    <h4 id="txtbasic">Basico</h4>
                </div>

                <div id="Gratis">
                    <h1>Gratis</h1>
                </div> <br />
                <div id="caracteristicas">

                    <p class="fs-6">
                        10 proyectos máximo
                    </p> <br />

                    <p class="fs-6">Hasta 3 proyectos compartidos </p> <br />
                    <p class="fs-6">Sin opcion offline</p> <br />
                    <p class="fs-6">10 snippets maximo</p> <br />


                </div>

                <div id="btn"><button type="button" class="btn btn-primary" id="boton">Quiero este plan</button></div>

            </div>

        </div>
        <div class="col-lg-4">
            <div id="plan-avanzado">
                <div id="tituloavanzado">
                    <br />
                    <h4 id="txtbasic">Avanzado</h4>
                </div>

                <div id="Gratis">
                    <h1>$20/mes</h1>
                </div>
                <div id="caracteristicasavanzado">

                    <p class="fs-6">
                        Proyectos Ilimitados
                    </p> <br />

                    <p class="fs-6">Proyectos compartidos ilimitados </p> <br />
                    <p class="fs-6">Opcion offline disponible</p> <br />
                    <p class="fs-6">Snippets ilimitados</p> <br />


                </div>

                <div id="btnavanzado"><button type="button" class="btn btn-primary" id="boton">Quiero este plan</button>
                </div>

            </div>
        </div>
        <div class="col-lg-4  col-xl-4 ">
            <div id="plan-basico">
                <div id="titulobasico">
                    <br />
                    <h4 id="txtbasic">Plus</h4>
                </div>

                <div id="Gratis">
                    <h1>$10/mes</h1>
                </div> <br />
                <div id="caracteristicas">

                    <p class="fs-6">
                        30 proyectos máximo
                    </p> <br />

                    <p class="fs-6">Hasta 15 proyectos compartidos </p> <br />
                    <p class="fs-6">Sin opcion offline</p> <br />
                    <p class="fs-6">30 snippets maximo</p> <br />


                </div>

                <div id="btn"><button type="button" class="btn btn-primary" id="boton">Quiero este plan</button></div>

            </div>

        </div>

    </div>
    <app-footer></app-footer>
</div>