<div class="container-fluid" style="background: var(--third-color-1);">
  <div class="row flex-nowrap">
    <div class="col-auto  col-md-3 col-lg-3  px-sm-2 px-0 " style="max-width: 400px;">
      <app-sidebar></app-sidebar>
    </div>
    <main class="col py-3" style="background: #fff;">

      <div class="container fw-bold" style="color: var(--third-color-2); padding: 3em;">
        <div class="row">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <div>
                <p class="fs-3 fs-lg-4">Proyectos</p>
                <p class="m-0 mb-3 fs-4 fs-lg-5" style="color: var(--gray-1);">Mi unidad</p>
              </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">
                <ul class="navbar-nav  mb-2 mb-lg-0 align-items-center align-items-md-end">
                  <li class="nav-item">
                    <span class="me-lg-3 fs-5 fs-lg-6" style="color: var(--primary-color-2);">Crear proyecto</span>
                  </li>
                  <li class="nav-item">
                    <span class=" fs-5 fs-lg-6" style="color: var(--primary-color-2);">Crear carpeta</span>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <app-reusable-model [content]="content" type="project" />
      </div>
    </main>
  </div>
</div>