 #tituloinicio{
margin-left: 100px;
margin-bottom: 50px;
 }
#password{
    width: 460px !important;
    height: 60px !important;
}


#email{
    width: 460px ;
    height: 60px ;   
}


#log{
    width: 460px ;
    height: 60px ;   
    color: #FFFFFF;
    background-color: #4937A8;
    margin-bottom: 20px;

} 
 #logfb{
    width: 460px ;
    height: 60px ;   
    color: #FFFFFF;
    background-color: #3B5998;
 }


 #contenedorform{
    margin-top: 200px;
 }



#contlog{
   margin-top: 50px;
}

#emailHelp{
    color: #4937A8;
    margin-left: 150px;
}

#imagenlog{
    margin-top: 150px;
    position: absolute;
}

#imgwiz{

margin-bottom: 40px;
}


#staar{
 
    margin-top: 10px;  
}

#barra{
    margin-left: 600px;
    margin-top: 80px;
}

#registrate{
 
    width: 400px ;
    height: 60px ;   
}