.input-model {
    border-radius: 4px;
    border: 1px solid #D2D3EC;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    height: 50px;
    margin-bottom: .8em;
}

.btn {
    height: 50px;
    border-radius: 16px;
    background: #4937A8;
}

.wrong-format {
    color: #f00;
    /* text-transform: initial; */
    font-size: 0.7rem;
  }

.wrong-input{
    border: 1px solid #f00;
}

#log {
    color: #FFFFFF;
    background-color: #4937A8;

}

#logfb {
    color: #FFFFFF;
    background-color: #3B5998;
}


#contenedorform {
    margin-top: 200px;
}



#contlog {
    margin-top: 50px;
}

#emailHelp {
    color: #4937A8;
    margin-left: 150px;
}

#imagenlog {
    margin-top: 150px;
    position: absolute;
}

#imgwiz {

    margin-bottom: 40px;
}


#staar {

    margin-top: 10px;
}

