<div id="sidebar" class="px-3 pt-2  d-flex flex-column align-items-sm-center justify-content-between min-vh-100">
    <div class="d-flex flex-column align-items-end align-items-lg-start">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 me-md-auto  text-decoration-none">
            <img src="../../assets/logo.svg">
            <span id="web-name" class="ms-1 d-none d-lg-inline">Web Wizards</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="mb-4 nav-item" [ngClass]="{'active': isActiveDashboard}" (click)="activate('dashboard')">
                <a routerLink="/dashboard" class="row align-items-center nav-link align-middle px-0">
                    <i class="col-1 fa-solid fa-house fa-lg me-3 "></i>
                    <span class="opcion ms-1 d-none d-lg-inline fs-5 fs-lg-4">Dashboard</span>
                </a>
            </li>
            <li class="mb-4 nav-item" [ngClass]="{'active': isActiveProyectos}" (click)="activate('proyectos')">
                <a routerLink="/proyectos" class="row align-items-center nav-link px-0 align-middle">
                    <i class="col-1 fa-solid fa-folder fa-lg me-3 "></i>
                    <span class="opcion ms-1 d-none d-lg-inline fs-5 fs-lg-4">Proyectos</span>
                </a>
            </li>
            <li class="mb-4 nav-item" [ngClass]="{'active': isActiveSnippets}" (click)="activate('snippets')">
                <a routerLink="/snippets" class="row align-items-center nav-link px-0 align-middle">
                    <i class="col-1 fa-solid fa-laptop-code fa-lg me-3 "></i>
                    <span class="opcion ms-1 d-none d-lg-inline fs-5 fs-lg-4">Snippets</span>
                </a>
            </li>
        </ul>
        <hr>
    </div>

    <div class="d-flex flex-column align-items-center mb-3" style="width: 100%;">

        <ul class="nav nav-pills flex-column align-items-center">
            <li class="nav-item">
                <i class=" col-1 fa-solid fa-gear fa-lg me-3"></i>
                <span class="opcion ms-1 d-none  d-lg-inline fs-5 fs-lg-4">Configuraciones</span>
            </li>
            <li class="nav-item mt-2">
                <i class=" col-1  fa-solid fa-arrow-right-from-bracket fa-lg me-3"></i>
                <span class="opcion ms-1 d-none  d-lg-inline fs-5 fs-lg-4">Cerrar sesión</span>
            </li>
        </ul>

    </div>

</div>