<div class="container-fluid p-0" style="height: 100vh;">
  <app-navbar></app-navbar>

  <div class="row flex-column-reverse flex-md-row align-items-center justify-content-center py-5" style="min-height: 90%;">

    <form  [formGroup]="formularioRegistro" class="col-10 col-md-5 col-lg-5 ">
      <div class="row " id="fila">
        <div class="form-group col-6">
          <label for="inputEmail4">Nombre</label>
          <input [ngClass]="{'wrong-input':nombre?.invalid && (nombre?.dirty || nombre?.touched)}" formControlName="nombre" class="form-control input-model" type="text" id="inputnombre" placeholder="Tu nombre">
          <div *ngIf="nombre?.invalid &&(nombre?.dirty || nombre?.touched)" class="wrong-format ">
   
           </div>
        </div>
        <div class="form-group col-6">
          <label for="input">Apellido</label>

          <input  [ngClass]="{'wrong-input':apellido?.invalid &&(apellido?.dirty || apellido?.touched)}" formControlName="apellido"  class="form-control input-model" type="text" id="inputapellido" placeholder="Tu Apellido">
          <div *ngIf="apellido?.invalid &&(apellido?.dirty || apellido?.touched)" class="wrong-format ">
            <P>Error al llenar campo apellido</P>
                  </div>
        </div>
      </div>

      <div class="row" id="fila">
        <div class="form-group col-12">
          <label for="inputEmail4">Email</label>

          <input  [ngClass]="{'wrong-input':email?.invalid &&(email?.dirty || email?.touched)}" formControlName="email"  class="form-control input-model" type="email" id="inputEmail4" placeholder="Email">
          <div *ngIf="email?.invalid &&(email?.dirty || email?.touched)" class="wrong-format ">
            <P>Error al llenar campo email asegurese de ingresar email valido</P>
                  </div>

          
        </div>

      </div>
      <div class="row" id="fila">
        <div class="form-group col-12">
          <label for="inputPassword4">Password</label>
          <input [ngClass]="{'wrong-input':password?.invalid &&(password?.dirty || password?.touched)}" formControlName="password" class="form-control input-model" type="password" id="inputPassword4" placeholder="Password">
          <div *ngIf="password?.invalid &&(password?.dirty || password?.touched)" class="wrong-format ">
            <P>Error al llenar campo password asegurese de ingresar password valido con un caracter especial, una mayuscula minimo, minusculas y 8 o mas caracteres en total</P>
                  </div>
        
        </div>
      </div>

      <div class="row" id="fila">

        <div class="form-group col-6">
          <label for="inputState">Plan</label>
          <select class="form-control input-model" id="inputState">
            <option selected>Avanzado</option>
            <option>Gratis</option>
            <option>Plus</option>
          </select>
        </div>
        <div class="form-group col-6">
          <label for="start">Fecha Nacimiento:</label>
          
          <input [ngClass]="{'wrong-input':fechaNacimiento?.invalid }" formControlName="fechaNacimiento" class="form-control input-model" type="date" id="start" name="trip-start" value="" min="1910-01-01"
            max="2023-12-31">
        </div>
      </div>





      <div class="row" id="fila">

        <div class="form-group col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Acepto los terminos y condiciones
            </label>
          </div>
        </div>

      </div>

      <div class="row mt-2">
        <div class="form-group col-6">
          <button type="submit" class="btn text-white">
            <img src="../../assets/icons8-facebook-60 1.png" alt="">
            Registrate con Facebook
          </button>

        </div>
        <div class="form-group col-6">
          <button  [disabled]="!formularioRegistro.valid"  (click)="iniciarSesion()" type="button" class="btn text-white">Registrate</button>

        </div>
        


      </div>



    </form>
    <div class="col-10 col-md-5 col-lg-5 d-flex flex-column align-items-center mb-3">
      <img src="../../assets/undraw_Engineering_team_a7n2-removebg-preview 1.png" style="max-width: 100%;">
      <h1 class="text-center">¡Unete hoy a Web Wizards!</h1>
    </div>
  </div>

  <app-footer></app-footer>
</div>