#fila{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: stretch;
    margin-left: 100px;
    margin-top: 50px;
    width: 1000px;
}


#imgnsign{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
position: absolute;
margin-left: 500px;
}



#titulopagina{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
position: absolute;
margin-left: 600px;
margin-top: 300px; 
}

#registratebtn{
    width: 190px;
    height: 48px;
    background-color: #4937A8;
}

#regfb{
    width: 200px;
    height: 65px;
    margin-left: 40px;  
    background-color: #3B5998;
}



