<div class="container-fluid p-0" style="height: 100vh;overflow-x: hidden;">
    <app-navbar></app-navbar>
    <div class="row pt-4 justify-content-center align-items-center" style="min-height: 100%;">
        <div class="col-8 col-md-6 col-lg-5">
            <img src="../../assets/landing.png" width="100%">
        </div>
        <div class="col-10 col-md-6 col-lg-5 fs-4 fs-lg-6 text-center text-md-start">
            <h3 class="fs-1 fs-lg-3">Utiliza Web Wizards hoy mismo 🧙</h3>
            <p>Programa los lenguajes del mundo front-end, HTML, CSS y JavaScript con este editor de código en linea.
            </p>
            <button routerLink="/registro" class="btn-model btn-purple">Registrate</button>
        </div>
        <div class="col-12 mt-3 row p-0" style="width: 100%; ">
            <div class="text-wave col-12 px-5 row text-white" style="background-color: #7052FF;">
                <p class="col-7" style="transform: translateY(3em);">
                    Web Wizards es una plataforma de codificación web para trabajo colaborativo y almacenamiento en la
                    nube.
                </p>
            </div>
            <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg"
                class="transition duration-300 ease-in-out delay-150">
                <path
                    d="M 0,400 C 0,400 0,200 0,200 C 128,240.26666666666665 256,280.5333333333333 413,263 C 570,245.46666666666667 756,170.13333333333333 932,150 C 1108,129.86666666666667 1274,164.93333333333334 1440,200 C 1440,200 1440,400 1440,400 Z"
                    stroke="none" stroke-width="0" fill="#7052ff" fill-opacity="1"
                    class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 200)">
                </path>
            </svg>
        </div>

        <div class="col-8 col-md-6 col-lg-5 ">
            <img src="../../assets/desarrollo-web.png" width="100%">
        </div>
        <div class="col-10 col-md-6 col-lg-5 fs-4 fs-lg-6 text-center text-md-start">
            <h3 class="fs-1 fs-lg-3 mt-3">
                Diferentes planes para satisfacer tus necesidades
            </h3>

            <button routerLink="/planes" class="btn-model btn-white mt-3">Planes & Precios</button>
        </div>
        <div class="col-12 mt-3 row p-0" style="width: 100%;">
            <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg"
                class="transition duration-300 ease-in-out delay-150">
                <path
                    d="M 0,400 C 0,400 0,200 0,200 C 139.33333333333331,158.93333333333334 278.66666666666663,117.86666666666665 455,129 C 631.3333333333334,140.13333333333335 844.6666666666667,203.46666666666667 1015,224 C 1185.3333333333333,244.53333333333333 1312.6666666666665,222.26666666666665 1440,200 C 1440,200 1440,400 1440,400 Z"
                    stroke="none" stroke-width="0" fill="#7052ff" fill-opacity="1"
                    class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
            </svg>
            <div class="text-wave col-12 px-5 row text-white" style="background-color: #7052FF;">
                <p class="col-5 fw-bolder" style="transform: translateY(-4em);">
                    Prueba Web Wizards hoy mismo gratis y crea tu magia ✨
                </p>
            </div>
        </div>
        <div class="col-12 justify-content-center align-items-center row" style="background-color: #7052FF;">
            <img class="col-8 col-md-6" src="../../assets/logos.png" width="100%" style="transform: translateY(-2.7em);">
        </div>
        <div class="col-12 justify-content-center align-items-center row pt-3" style="background-color: #7052FF;">
            <p class="text-wave col-8 col-md-7 text-white text-center m-0">
                Prueba el plan gratuito de Web Wizards hoy y crea 10 proyectos gratis. Elige los planes que quieras.
            </p>
        </div>
        <div class="col-12 row gap-3 justify-content-center py-5" style="background-color: #7052FF;">
            <button routerLink="/registro" class="col-auto btn-model btn-purple">Registrate</button>
            <button routerLink="/inicio-sesion" class="col-auto btn-model btn-purple">Iniciar Sesión</button>
        </div>
    </div>

    <app-footer></app-footer>

</div>