

    <div class="modal fade" id="{{exampleModal}}" tabindex="-1" aria-labelledby="'{{exampleModalLabel}''}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header ">
              <h5 class="modal-title" id="{{exampleModalLabel}}">{{ title }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
<form [formGroup]="formulario">
            <div class="modal-body  text-center">
    
    
    
                <input type="text" formControlName="texto" id="texto" [ngClass]="{'wrong-input' : texto?.invalid && (texto?.dirty || texto?.touched)}"
                placeholder="nombre"   required> 
                <div *ngIf="texto?.invalid && (texto?.dirty || texto?.touched)" class="wrong-format">Campo requerido</div>
                
            </div>
            <div class="modal-footer  d-flex justify-content-center">
             
             
                <button type="button" id="cancelar"  class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              
                <button (click)="guardar()" id="guardar"  [disabled]="!formulario.valid" type="button" class="btn btn-primary">{{Crear}}</button>
            
            
            </div>
        </form>
          </div>
          
        </div>
      </div>

