.divcont {
    background-color: #E9E4FF;
    border-radius: 15px;
}

#profilepic {
    height: 120px;
    width: 120px;
}

#titulo {
    color: #6A4BFF;
    font-weight: bold;
    font-size: 30px;
}

#parrafos {
    color: #929290;

}


@media (max-width: 768px) {

    #profilepic {
        height: 100px;
        width: 100px;
    }
}