#divcont{
    background-color: #E9E4FF;
border-radius: 15px;
margin-left: 40px;
margin-right: 40px;
margin-top: 40px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: center;
align-content: stretch;
height: 169px; width: 869px;
}

#profilepic{
    height: 120px;
    width: 120px;
    margin-left: 40px;
margin-right: 40px;
}

#titulo{
    color: #6A4BFF;
  font-weight: bold;
 font-size: 30px;
}

#parrafos{
    color: #929290;

}


#head-user{
    margin-left: 40px;
    margin-top: 40px;
}

#proyectos{
    width: 444px;
    height: 461px;
    margin-top: 40px;
    margin-left:40px;
}

#titulosproyectos{
    color: #25546F;
}

#proyectos{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
    border-color: #EAEAEA; 
 border-radius: 15px;

}

#enlace{
    margin-left: 300px;


}

#prueba{
    margin-top: 30px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
    width: 480px;
    height: 480px;
}


#parrafosproyectos{
    color: #929290;
position: absolute;

}

#appstore{
    margin-top: 20px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}
 
#storage{
    margin-left: auto;
margin-right: 40px;
background-color:#F8F6FF;
width: 480px;
height: 480px;
margin-bottom: 50px;
margin-top: 20px;


}

.row{
    display: flex;
}

#titulo-alma{
    color: #6A4BFF;
    font-weight: bold;
   font-size: 30px;
   text-align: center; 
}

#porcentajee{
    width: 288px;
    height: 288px;
 margin-left: 100px;
margin-top: 40px;
}


#parrafos-storage{
    text-align: center;
}






  /* CSS for screens up to 768px wide (smartphones) */
@media (max-width: 768px) {
    /* Your CSS rules for small screens here */
    #prueba{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        width: 180px;
        height: 180px;
    }
   
    #storage{

        background-color:#F8F6FF;
        width: 240px;
        height: 300px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-right: 100px;
        
        
        }
        #porcentajee{
            width: 120px;
            height: 120px;
           padding-right: 50px;
           margin-bottom: 20px;
        } 
    
#enlace{
    margin-left: 50px;


}
#divcont{
    background-color: #E9E4FF;
border-radius: 15px;
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: center;
align-content: stretch;
height: 120px; width: 269px;
}

#titulo-alma{
    color: #6A4BFF;
    font-weight: bold;
   font-size: 20px;
   text-align: center; 
}

#head-user{
    margin-left: 10px;
    margin-top: 10px;
}

#profilepic{
    height: 40px;
    width: 40px;
    margin-left: 40px;
margin-right: 40px;
}
#titulo{
    color: #6A4BFF;
  font-weight: bold;
 font-size: 20px;
}

.row{
    display: flex;
    width: 390px;
    height: 471px;
}
#parrafos-storage{
    text-align: center;
    font-size: 10px;
}
  }