<div class="container-fluid" style="background: var(--third-color-1);">
    <div class="row flex-nowrap">
        <div class="col-auto  col-md-3 col-lg-3  px-sm-2 px-0 max-vh-100" style="max-width: 400px;">
            <app-sidebar></app-sidebar>
        </div>
        <main class="col py-3" style="background: #fff;overflow: scroll; height: 100vh;">

            <div class="container fw-bold" style="color: var(--third-color-2); padding: 3em;">
                <div>
                    <p class="fs-3 fs-lg-4">Bienvenid@</p>
                </div>

                <div class="row textos divcont p-3 mb-3 align-items-center justify-content-center justify-content-lg-start">
                    <div class="col-auto">
                        <img src="../../assets/5095021.png" alt="" id="profilepic">
                    </div>
                    <div class="col-auto">
                        <h5 id="titulo">{{usuarioLoggeado.nombre}} {{usuarioLoggeado.apellido}}</h5>
                        <p id="parrafos">{{ usuarioLoggeado.email }}</p>
                    </div>
                </div>
                <p class="m-0 mb-1 fs-4 fs-lg-5" style="color: var(--gray-1);">Últimos proyectos</p>
                <app-reusable-model [content]="content" type="project" />
            </div>
        </main>
    </div>
</div>