.guardar{
    background-color: #6A4BFF;
    border-radius: 15;
    color: #FFFFFF;
}


.cancelar{
    background-color: #FFFFFF;
    color: #6A4BFF;
    border-radius: 15;
    border-color: #6A4BFF;
}


.wrong-format {
    color: #f00;
    font-size: 0.7rem;
  }

.wrong-input{
    border: 1px solid #f00;
}
.divcont {
    background-color: #E9E4FF;
    border-radius: 15px;
}

#profilepic {
    height: 120px;
    width: 120px;
}
#editbtn{
    border: none;
    background-color: inherit;
}

#titulo {
    color: #6A4BFF;
    font-weight: bold;
}

#parrafos {
    color: #929290;

}


@media (max-width: 768px) {

    #profilepic {
        height: 100px;
        width: 100px;
    }
}