<div class="container-fluid" style="background: var(--third-color-1);">
    <div class="row flex-nowrap">
        <div class="col-auto  col-md-3 col-lg-3  px-sm-2 px-0 " style="max-width: 400px;">
            <app-sidebar></app-sidebar>
        </div>

<div style="background-color: white;">
    <div class="container fw-bold" style="color: var(--third-color-2); padding: 3em;">
        <div>
            <p class="fs-3 fs-lg-4">Bienvenido,{{ usuarioLoggeado.nombre }} </p>
          </div>
    
    
        <div id="divcont">
            <img src="../../assets/5095021.png" alt="" id="profilepic">
            <div id="textos">
                <h5 id="titulo"></h5>
                <p id="parrafos">Actualmente cuentas con el plan : {{usuarioLoggeado.plan}}</p>
            </div>

            <div >
               
               <button id="editbtn"   (click)="changePlan()"  type="button" class="btn btn-primary" data-bs-toggle="modal" 
               data-bs-target="#exampleModalCenter"  >   <img src="../../assets/icons8-pen-squared-48 1.png" id="penbtn"      alt=""></button>
               
            </div>
    
                     
                </div>
    
    
                
            <div class="row justify-content-evenly">
                <div class="col-lg-6 col-md-12 col-sm-12" id="contconfig">
                 
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Tus snippets se cargan automaticamente</label>
                      </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12" id="contconfig">
            
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Tu perfil es publicos</label>
                      </div>
                </div>
    
    
    
                <div class="col-lg-6 col-md-12 col-sm-12" id="contconfig">
            
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Tus proyectos son publicos</label>
                      </div>
                </div>
    
    
                
                <div class="col-lg-6 col-md-12 col-sm-12" id="contconfig">
            
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Tus snippets son publicos</label>
                      </div>
                </div>
    
    
    
                
              </div>

              



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Elige un nuevo plan</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="cambioPlan" >
            <select formControlName="plan" class="form-control input-model" id="inputState"  [(ngModel)]="usuarioLoggeado.plan" >
                
                <option  *ngFor="let plan of planesvacios" [value]="plan"  required>{{ plan }}</option>
            </select>
          
            <div>  <label for="">Selecciona un nuevo plan</label></div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button (click)="guardarPlan()"   type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
        </div>
      </div>
    </div>
  </div>
    </div>