/* You can add global styles to this file, and also import other style files */


:root {
    --primary-color-1: #6B4BFF;
    --primary-color-2:#6A4BFF;
    --primary-color-3:#E9E4FF;
    --primary-color-4:#5A2250;
    --third-color-1: #F8F6FF;
    --third-color-2: #25546F;
    --gray-1:#92929D;
    --dark-1:#212121;

    --font-family: 'Poppins', sans-serif;

    
}

body{
    overflow: hidden;
}

* {
    font-family: var(--font-family);
}


.item1, .item2 {
    flex: 1;
  }